# Ejercicio - Busqueda de Alojamiento en Airbnb.

Supongamos que somos un agente de [Airbnb](http://www.airbnb.com) localizado en Lisboa, y tenemos que atender peticiones de varios clientes. Tenemos un archivo llamado `airbnb.csv` (en la carpeta data) donde tenemos información de todos los alojamientos de Airbnb en Lisboa.

In [ ]:
import pandas as pd
df_airbnb = pd.read_csv("./data/airbnb.csv")

In [7]:
df_airbnb.head()

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
0,6499,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0
1,17031,66015,Entire home/apt,Alvalade,0,0.0,2,1.0,46.0
2,25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0
3,29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0
4,29396,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0,67.0

In [ ]:
df_airbnb.dtypes

En concreto el dataset tiene las siguientes variables:
- room_id: el identificador de la propiedad
- host_id: el identificador del dueño de la propiedad
- room_type: tipo de propiedad (vivienda completa/(habitacion para compartir/habitación privada)
- neighborhood: el barrio de Lisboa
- reviews: El numero de opiniones
- overall_satisfaction: Puntuacion media del apartamento
- accommodates: El numero de personas que se pueden alojar en la propiedad
- bedrooms: El número de habitaciones
- price: El precio (en euros) por noche

## Usando Pandas

### Caso 1.

Alicia va a ir a Lisboa durante una semana con su marido y sus 2 hijos. Están buscando un apartamento con habitaciones separadas para los padres y los hijos. No les importa donde alojarse o el precio, simplemente quieren tener una experiencia agradable. Esto significa que solo aceptan lugares con más de 10 críticas con una puntuación mayor de 4. Cuando seleccionemos habitaciones para Alicia, tenemos que asegurarnos de ordenar las habitaciones de mejor a peor puntuación. Para aquellas habitaciones que tienen la misma puntuación, debemos mostrar antes aquellas con más críticas. Debemos darle 3 alternativas.

In [8]:
df_airbnb.head()

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
0,6499,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0
1,17031,66015,Entire home/apt,Alvalade,0,0.0,2,1.0,46.0
2,25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0
3,29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0
4,29396,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0,67.0

In [9]:
df_airbnb.groupby('room_type').count().head(20)

,room_id,host_id,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_type,,,,,,,,
Entire home/apt,9764,9764,9764,9764,9754,9764,9764,9764
Private room,3297,3297,3297,3297,3297,3297,3297,3297
Shared room,171,171,171,171,171,171,171,171

In [12]:
filtro_df = df_airbnb[
    (df_airbnb['room_type'] != 'Entire home/apt') &
    (df_airbnb['bedrooms'] == 2)
].head(5)


print(filtro_df)

      room_id   host_id     room_type             neighborhood  reviews  \
20      55116    259744  Private room           Avenidas Novas        1
344    455053   2103745  Private room           Avenidas Novas        2
590    697490   3573543  Private room  São Domingos de Benfica       12
1377  1764860   2308261  Private room         Campo de Ourique        3
1678  2443900  12094734  Private room             Misericórdia      172

      overall_satisfaction  accommodates  bedrooms  price
20                     0.0             2       2.0   68.0
344                    0.0             2       2.0   46.0
590                    5.0             2       2.0   18.0
1377                   5.0             2       2.0   46.0
1678                   5.0             4       2.0   52.0

In [13]:
tipo_habitacion = (df_airbnb['room_type'] == 'Entire home/apt')
camas_2 = (df_airbnb['bedrooms'] == 2)
reviews_10 = (df_airbnb['reviews'] > 10)
satisfaction_4 = (df_airbnb['overall_satisfaction'] > 4)


filtered_df = df_airbnb[
    tipo_habitacion & camas_2 & reviews_10 & satisfaction_4
].sort_values(by=['overall_satisfaction', 'reviews'], ascending=False).head(3)


print(filtered_df)

     room_id  host_id        room_type       neighborhood  reviews  \
120   176153   842219  Entire home/apt       Misericórdia      438
140   202150   989393  Entire home/apt  Santa Maria Maior      274
388   496195   647439  Entire home/apt  Santa Maria Maior      259

     overall_satisfaction  accommodates  bedrooms  price
120                   5.0             4       2.0  102.0
140                   5.0             4       2.0   62.0
388                   5.0             4       2.0   52.0

In [14]:
df_airbnb[(df_airbnb['room_type']=='Entire home/apt')&(df_airbnb['bedrooms']==2)&(df_airbnb['reviews']>10)&(df_airbnb['overall_satisfaction']>4)].sort_values(by=['overall_satisfaction','reviews'],ascending=False).head(3)

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
120,176153,842219,Entire home/apt,Misericórdia,438,5.0,4,2.0,102.0
140,202150,989393,Entire home/apt,Santa Maria Maior,274,5.0,4,2.0,62.0
388,496195,647439,Entire home/apt,Santa Maria Maior,259,5.0,4,2.0,52.0

### Caso 2

Roberto es un casero que tiene una casa en Airbnb. De vez en cuando nos llama preguntando sobre cuales son las críticas de su alojamiento. Hoy está particularmente enfadado, ya que su hermana Clara ha puesto una casa en Airbnb y Roberto quiere asegurarse de que su casa tiene más críticas que las de Clara. Tenemos que crear un dataframe con las propiedades de ambos. Las id de las casas de Roberto y Clara son 97503 y 90387  respectivamente. Finalmente guardamos este dataframe como excel llamado "roberto.xls

In [18]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 5.0 MB/s eta 0:00:00:00:01
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [15]:
df_airbnb[df_airbnb['room_id'].isin([97503,90387])].sort_values(by=['reviews'],ascending=False)

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
41,90387,490050,Private room,Santo António,204,5.0,2,1.0,46.0
48,97503,515924,Private room,Santo António,39,4.0,2,1.0,26.0

In [20]:
id_hermanos = [97503, 90387]

filtros_df = df_airbnb[df_airbnb['room_id'].isin(id_hermanos)]

guardado_df = filtros_df.sort_values(by=['reviews'], ascending=False)

guardado_df.to_excel('roberto.xlsx', index=False)


### Caso 3

Diana va a Lisboa a pasar 3 noches y quiere conocer a gente nueva. Tiene un presupuesto de 50€ para su alojamiento. Debemos buscarle las 10 propiedades más baratas, dandole preferencia a aquellas que sean habitaciones compartidas *(room_type == Shared room)*, y para aquellas viviendas compartidas debemos elegir aquellas con mejor puntuación.

In [24]:
cuarto_compartido = (df_airbnb['room_type'] == 'Shared room')
presupuesto = (df_airbnb['price'] <= 50/3)


filtrado_df = df_airbnb[cuarto_compartido & presupuesto]


filtro_df_df = filtrado_df.sort_values(by=['overall_satisfaction'], ascending=False)


result_df = filtro_df.head(10)


print(result_df)

#Entiendo que tiene 50E para solo 3 dias

      room_id   host_id     room_type             neighborhood  reviews  \
20      55116    259744  Private room           Avenidas Novas        1
344    455053   2103745  Private room           Avenidas Novas        2
590    697490   3573543  Private room  São Domingos de Benfica       12
1377  1764860   2308261  Private room         Campo de Ourique        3
1678  2443900  12094734  Private room             Misericórdia      172

      overall_satisfaction  accommodates  bedrooms  price
20                     0.0             2       2.0   68.0
344                    0.0             2       2.0   46.0
590                    5.0             2       2.0   18.0
1377                   5.0             2       2.0   46.0
1678                   5.0             4       2.0   52.0

In [23]:
df_airbnb[(df_airbnb['room_type']=='Shared room')&(df_airbnb['price']<=50/3)].sort_values(by=['overall_satisfaction'],ascending=False).head(10)

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
8918,14719962,40574313,Shared room,Avenidas Novas,4,5.0,4,1.0,13.0
6056,10397682,32344156,Shared room,Misericórdia,15,5.0,8,1.0,13.0
7060,12299998,66077974,Shared room,Arroios,49,5.0,1,1.0,13.0
9964,16150682,58899339,Shared room,Avenidas Novas,4,5.0,9,1.0,16.0
7066,12305540,66077974,Shared room,Arroios,40,5.0,1,1.0,13.0
9065,14933182,91501272,Shared room,Santo António,5,5.0,8,1.0,11.0
7034,12268067,66077974,Shared room,Arroios,96,5.0,1,1.0,16.0
10723,17096560,107813252,Shared room,Areeiro,5,5.0,1,1.0,16.0
7904,13520423,77663975,Shared room,Santa Maria Maior,7,4.5,10,1.0,15.0
7662,13220202,73826302,Shared room,Arroios,22,4.5,3,1.0,13.0